@import "../../styles/config/index.scss";
.header {
  @include showBorder();
  border-color: lighten($primary-color, 70%);
  position: fixed;
  width: 100%;
  top: 0px;
  border-radius: 10px;
  z-index: 5;
  @include theme($dark-theme: true);
  background-blend-mode: overlay;

  @include respondMax(mobile) {
    width: 90vw;
    left: 5%;
  }

  &_nav {
    // @include showBorder();
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
  }
}

.logo_name {
  text-decoration: none;
  font-family: "Ginger";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.contact_nav {
  text-decoration: none;
  font-family: "Ginger";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
