@import "../../styles/config/index.scss";
.header {
  // @include showBorder();

  position: fixed;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
  // @include theme($dark-theme: true);
  background-blend-mode: overlay;

  @include respondMax(mobile) {
    width: 90vw;
    left: 5%;
  }

  &_nav {
    // @include showBorder();
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
  }
}

.logo_name {
  text-decoration: none;
  font-family: "Ginger";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.contact_nav {
  text-decoration: none;
  font-family: "Ginger";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
