@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@font-face {
  font-family: "Ginger";
  src: url("/fonts/Ginger.ttf");
}

@font-face {
  font-family: "Vintage_straps_bold";
  src: url("/fonts/Vintage_straps_bold.ttf");
}

@font-face {
  font-family: "Vintage_straps_light";
  src: url("/fonts/Vintage_straps_light.ttf");
}

@font-face {
  font-family: "Vintage_strap_regular";
  src: url("/fonts/Vintage_straps_regular.ttf");
}
